<div class="container">
  <div class="row justify-content-center">
    <h1>Add a tag for <%= @plant.name %></h1>
    <%= simple_form_for [@plant, @plant_tag] do |f| %>
      <%= f.association :tag,
        include_hidden: false,
        input_html: {
          data: { controller: 'tom-select' },
          multiple: true
          } %>
      <%= f.submit 'Add tag', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
